/NetBeansApps/StockQuoteWS/nbproject/private/
/NetBeansApps/StockQuoteWS/build/
/lab4/StockQuoteWS/nbproject/private/
/lab4/StockQuoteWS/build/
/lab4/StockQuoteWSClient/nbproject/private/
/lab4/StockQuoteWSClient/build/
/lab4/assign3/Assign3WebApp/build/
/lab4/assign3/Assign3WebApp/nbproject/private/
/lab4/WidgetParser/nbproject/private/
/lab4/WidgetParser/build/
/lab4/Lab4Search/nbproject/private/
/lab4/Lab4Search/build/