body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	background-color: #99623D;
	color: #fff;
	margin: 0;
	padding: 0;
}

img {
	height: auto;
	max-width: 100%;
}

img.mvup135 {
	height: auto;
	max-width: 100%;
	margin-bottom: 135px;
}

img.mvup115 {
	height: auto;
	max-width: 100%;
	margin-bottom: 115px;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 10px;
	color: #fff;
}

h2 {
	font-size: 2.0em;
	color: #fff;
}

h3 {
	font-size: 1.5em;
	color: #fff;
}

table,th,td
{
border:1px solid black;
}

th{
	background-color: #0000FF;
	color:#FFFF00; 
	font-size: 14px;
}

td{
	background: #fff;
	color:#666;
}

.h2-center{
	font-size: 2.0em;
	color: #fff;
	text-align: center;
	font-weight: 500;
}

.h3-center{
	font-size: 1.5em;
	color: #fff;
	text-align: center;
	font-weight: 500;
}

h1, h2, h3 {
	text-align: left;
	font-weight: 500;
	padding-left: 20px;
}

p {
	color: #fff;
	line-height: 1.5;
	font-size: 1.2em;
}

pre {
	color: fff;
	line-height: : 1.5;
	font-size: 1.2em;
}

a:link {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #FF733B;
}

li {
	font-size: 1.2em;
	line-height: 1.5;
	color: #fff;
}

input {
	font-size: 1.2em;
	line-height: 1.5;
}

.col-small-gray {
	width: 33%;
	display: table-cell;
	color: #FF733B;
	padding: 20px;
	border: 10px solid #FF733B;
}

.col-half-gray {
	width: 50%;
	display: table-cell;
	color: #FF733B;
	padding: 20px;
	border: 10px solid #FF733B;
}

.row {
	width: 100%;
	display: table;
	clear: both;
	background-color: #59FFAC;
}
